<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SmsProgram.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SmsProgram.Properties.Settings>
            <setting name="FileName" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchText" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchAllColumns" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchEverywhere" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchInField" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchIgnoreLetterCase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchRegex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Filters" serializeAs="String">
                <value />
            </setting>
            <setting name="FilterAddReplace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterAddOR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendMessagesPerHour" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="LogFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorReadOnly" serializeAs="String">
                <value>Gainsboro</value>
            </setting>
            <setting name="ColorForeignKey" serializeAs="String">
                <value>AliceBlue</value>
            </setting>
            <setting name="ColorPrimaryKey" serializeAs="String">
                <value>AntiqueWhite</value>
            </setting>
            <setting name="ColorCustomField" serializeAs="String">
                <value>LightGoldenrodYellow</value>
            </setting>
            <setting name="ColorClosed" serializeAs="String">
                <value>Gainsboro</value>
            </setting>
            <setting name="SearchBackward" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProviderSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="FilePassword" serializeAs="String">
                <value />
            </setting>
        </SmsProgram.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
